# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Exports & local data
exports/
*.ndjson
local_*.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.env.local
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
